html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(242, 243, 245);
    padding: 15px;
}

.layui-card {
    margin-left: 20px;
    padding-bottom: 20px;
}

.layui-form-item {
    width: 500px;
}